<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All products</title>
</head>
<body>
    <h1> <%=category%> Products in Inventory</h1>
    <ul>
        <% for (let product of products) { %>
          <li>
           <a href="/inventory/<%=product._id%> "><%= product.name %> </a>
          </li>
        <% } %>
    </ul>

    <a href="/inventory/new"> Create New Product</a>
    <%if(category!=='All') %>
        <a href="/inventory">All Products</a>
    <% } %> 

</body>
</html>